# Dependencies
node_modules/
package-lock.json
yarn.lock

# Next.js build output
.next/
out/
dist/
build/

# Environment variables
.env
.env.local
.env.*.local
.env.production.local
.env.development.local

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
.sublime-project
.sublime-workspace
*.code-workspace

# OS files
Thumbs.db
Desktop.ini

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Cache files
.cache/
.eslintcache
.stylelintcache

# Misc
*.pem
.turbo/
turbo.json
